{#
/**
 * @file
 * Tile example.
 */
#}

{% if kss_styles %}
  <style>
    #kssref-components-tile {
    }
  </style>
{% endif %}

<div class="grid grid--col-2@xsmall grid--col-6@small">
  <div class="grid__col">

    <!-- copy this -->
    <div class="tile">
      <div class="tile__content">
        <div class="user">
          <div class="user__name">@unsplash</div>
        </div>
      </div>
      <div class="tile__image">
        <div class="field-image">
          <picture>
            <a href="javascript:;">
              <img src="//unsplash.it/200/200?image=1042" alt="">
            </a>
          </picture>
        </div>
      </div>
    </div>

    <!-- copy this -->
    <div class="tile tile--1-1">
      <div class="tile__content">
        <div class="user">
          <div class="user__name">@unsplash</div>
        </div>
      </div>
    </div>

  </div>
  <div class="grid__col">

    <!-- copy this -->
    <div class="tile">
      <a href="javascript:;">
        <div class="tile__content flex flex--column">
          <div class="flex__item-grow">
            <div class="body">
              <h4>Majesty's pleasure naff off.</h4>
            </div>
          </div>
          <div class="0">
            <div class="user">
              <div class="user__name">@unsplash</div>
            </div>
          </div>
        </div>
        <div class="tile__image">
          <div class="image">
            <picture>
              <img src="//unsplash.it/300/600?image=1042" alt="">
            </picture>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
