{#
/**
 * @file
 * Typography example.
 */
#}

{% spaceless %}
  <div class="page-title">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</div>

  <div class="body">
    <h1 class="h1">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</h1>
    <h2 class="h2">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</h2>
    <h3 class="h3">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</h3>
    <h4 class="h4">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</h4>
    <h5 class="h5">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</h5>
    <h6 class="h6">Bits 'n bobs squiffy morris dancers real ale Geordie on the pull fried toast.</h6>
  </div>
{% endspaceless %}
